body{
  animation-name: backgroundColorChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@keyframes backgroundColorChange {
  from {background-color: peachpuff}
  to {background-color: lightgray}
}
#nav, footer{
  background-color: black;
  font-size: 18px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
#icon{
  width: 50px;
}
div{
  width: 100%;
}
.resume{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  background-color: black;
  color: white;
  justify-content: space-between;
}
.projects{
  font-size: 20px;
}
.projects img{
  width: 95%;
}
@-webkit-keyframes resume_animation {
  0% {
    background-image: url("http://i.imgur.com/fVpzk6R.png");
  }
  60% {
    background-image: url("http://i.imgur.com/TmyhkyU.png");
  }
  80% {
    background-image: url("http://i.imgur.com/fVpzk6R.png");
  }
  100% {
    background-image: url("http://i.imgur.com/fVpzk6R.png");
  }
}

#resume_image {
  animation-name: resume_animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
  width: 100%;
  height: 800px;
}

#resume_image img {
  opacity: 0.0;
filter: alpha(opacity=50);
}
#myPhoto{
  width:100%;
  height:30%;
}
#ng{
  width:100%;
  padding-top: 15 %;
}
#homepage_left{
  float: left;
  width: 30%;
}
#homepage_right{
  float: right;
  width: 65%;
  height: 40%;
}
h1{
color: green;
font-weight: 600;
}
