body{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
}
main{
  margin-left: 5%;
  margin-right: 5%;
}
#nav, footer{
  background-color: black;
  color: white;
  line-height: 70px;
  font-size: 25px;
}
#icon{
  width: 50px;
}
button{
  /*border-radius: 25%;*/
  color: black;
  border-color: gary;
  font-size: 16px;
  background-color: #008CBA;
  color: white;
  font-weight: bold;
  padding: 1%;
}
a {
  color: white;
}
.hide_radio{
  display: none;
}
#home{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#myPhoto{
  width:25%;
  height:25%;
  border-radius: 190px;
}
#tedla_tag{
  width:95%;
}
h1{
  color: green;
  font-weight: 600;
}
p{
  text-align: left;
}
#resume{
  min-height: 70vh;
}
@keyframes skill_animation {
  from {bottom: -425px;}
    to {bottom: 0px;}
}
#skill_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  /*animation: skill_animation 10s infinite;*/
  animation: skill_animation 10s ;

}
#skill_list img {
  width: 95%;
  padding: 5%;
}
.skill_group{
  width: 90px;
}
.row{
justify-content: center;
align-content: center;
align-items: center;
}
#project{
  width: 33%;
}
.projects{
    min-height: 70vh;
}
#project_image{
  /*height: 40vh;*/
  width:100%;
}
/*#project_animation{
    width: 75%;
}*/
@media screen and (max-width: 600px){
  #project {
    width: 100%;
  }
  #myPhoto{
    width:40%;
    height:40%;
  }
}
.resume_download {
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 88%;
  background-color:black;
  color: white;
}
.download:hover .resume_download {
  opacity: 1;
}
.box:hover #project_image{
  opacity: 0;
}
.box{
  background-size: 0%;
}
.box:hover{
  background-size: 100%;
}
#box1{
    background-image:url("../img/hangman.gif");
}
#box2{
    background-image:url("../img/tedpark.gif");
}
#box3{
    background-image:url("../img/brewmood.gif");
}
#box4{
    background-image:url("../img/ebusinesscard.gif");
}
