body{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main{
  margin-left: 5%;
  margin-right: 5%;
}
#nav, footer{
  background-color: black;
  color: white;
  line-height: 70px;
  font-size: 25px;
}
#icon{
  width: 50px;
}
#home{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#myPhoto{
  width:25%;
  height:25%;
  border-radius: 190px;
}
#tedla_tag{
  width:95%;
}
h1{
  color: green;
  font-weight: 600;
}
h6{
  font-size: 10px;
}
#resume{
  min-height: 100vh;
}
button{
  border-radius: 25%;
  color: black;
  border-color: gary;
  font-size: 16px;
  background-color: #FFE4C4;
  color: #006400;
  font-weight: bold;
  padding: 1%;
}
.hide_radio{
  display: none;
}
@keyframes skill_animation {
  from {bottom: -400px;;}
    to {bottom: 0px;}
}
#skill_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  position: relative;
  animation: skill_animation 10s infinite;
}
#skill_list img {
  width: 95%;
}
.skill_group{
  width: 90px;
}
.projects{
    min-height: 70vh;
}
#project{
  width: 25%;
}
#project_image{
  height: 40vh;
}
#project_animation{
    width: 75%;
}
@media screen and (max-width: 600px){
  #project {
    width: 100%;
  }
  #myPhoto{
    width:40%;
    height:40%;
    border-radius: 190px;
  }
}
.resume_download {
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 88%;
  background-color:black;
  color: white;

}
.download:hover .resume_download {
  opacity: 1;
}
