<div>
  <h3>Are you client, business man or any professional who want to build or enhance your webite?</h3>
  <h3>Are you employer, looking for a great devloper:</h3>
  <h3>Just drop me a short message, and I will reply you very soon.</h3>
  <div  id="contact">
    <h4>Your name :<br><input placeholder="Enter your name here..." ng-model="vm.name"></h4>
    <h4>Your email :<br><input placeholder="Enter your email here..." ng-model="vm.email"></h4>
    <h4>Your company/ business :<br><input placeholder="Enter your company here..." ng-model="vm.company" ></h4>
    <h4>Your message :<br><textarea placeholder="Enter your message here..." ng-model="vm.message" ></textarea></h4>
    </br>
    <h4><button ng-click="vm.sendemail()">Send</button></h4>
    <a href="mailto:tedlayea@gmail.com?Subject=Hello%20again" target="_top">Send Mail</a>
  </div>
</div>
