<h3> " Live as if you die tomorrow. Learn as if you live forever. " Mahatma Gandhi<hr></h3>
<div>
  <div id="homepage_left">
    <img id="myPhoto" src="img/my_picture.jpg" alt="Tedla photo displayed">
  </div>
  <div id="homepage_right">
    <h3>Are you looking for awsome Web Devloper or Full Stack Developer?<hr><hr></h3>
    <h3>Yes, you come to the right person!!!<hr><hr></h3>
    <h1>Tedla Alemu<hr></h1>
    <!-- <h3> Please, take a look in my resume, projects and contact me.<hr><hr></h3> -->
  </div>

</div>
<img id="ng" src="img/ng-repeat.png" alt="ng-repeat photo displayed">

<!-- HTML -->

<!-- <Tedla id = "Passion" class = "Full_Stack_Devloper" style = {creativity : "Unique", technology: "fast_learner"}>
  {{team_player}} <%= skilled_and_confident %>
</Tedla> -->

<!-- <Tedla ng-repeat="each in vm.works">
  <p>{{each.quality}} {{each.creativity}}</p>
</Tedla> -->
