<h2>Sample Projects</h2>
<div class="projects">
  <div class="row">
    <div class="col-sm-4" >
      <h3>Project 1: Hangman</h3>
      <p>
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=1 >Description
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=11 >Technology
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=111 >Demo
      </p>
      <div>
        <p ng-show="vm.display=='1'"> Hangman game in which players can spent their time by testing their knowledge about world heritage.
        Depending on the number of errors, different animation will be displayed. </p>
        <p ng-show="vm.display=='11'">HTML, CSS, JavaScript,jQuery</p>
        <img ng-hide="vm.display"  src="img/hangman.png" alt="Hangman photo displayed">
      </div>
    </div>
    <div class="col-sm-4" >
      <h3>Project 2: Tedpark </h3>
      <p>
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=2 >Description
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=22 >Technology
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=222 >Demo
      </p>
      <div>
        <p ng-show="vm.display=='2'"> Web application which helps to remember where you parked, so it save the car location with just click and take you to your car from any other position with just click. You can see your recent history, add/edit/delete your favorites.</p>
        <p ng-show="vm.display=='22'"> HTML, CSS, JavaScript, Ruby, Rails</p>
        <img ng-hide="vm.display" src="img/tedpark.png" alt="Tedpark photo displayed">
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Project 3: BeerMood </h3>
      <p>
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=3 >Description
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=33 >Technology
        <input ng-model="vm.display" type="radio" name="optionselect" ng-value=333 >Demo
      </p>
      <div>
        <p ng-show="vm.display=='3'">Web application which prevent you from DUI charges by checking your blood alcohol content after you drink,or even suggest you how much you have to drink in order to be safe. It also recommends you breweries and beer based on your current location, abv and IBU.</p>
        <p ng-show="vm.display=='33'">HTML, CSS, JavaScript,jQuery,Rails,Angular,API</p>
        <img ng-hide="vm.display" src="img/BeerMood.png" alt="BeerMood photo displayed">
      </div>
    </div>
    <img ng-show="vm.display=='111'"  src="img/hangman.gif" alt="Hangman gif displayed">
    <img ng-show="vm.display=='222'" src="img/tedpark.gif" alt="Tedpark gif displayed">
    <img ng-show="vm.display=='333'" src="img/beermood.gif" alt="BeerMood gif displayed">
</div>



</div>
