<br>
<div id="resume">
  <div>
    <button ng-click="vm.skills()">SKILLS</button>
    <button ng-click="vm.web()">WEB DEVELOPMENT EXPERIENCE</button>
    <button ng-click="vm.other()">OTHER EXPERIENCE</button>
    <button ng-click="vm.education()">EDUCATION... </button>
    <span class="download">
      <a href="img/Tedla_full_stack_resume.pdf" download><img id="icon"src="img/download_resume.png" alt="resume download"> </a>
      <span class="resume_download">Download resume</span>
    </span>
  </div>
  <br>
  <div>
    <div ng-hide="vm.display">
      <img id ="tedla_tag" src="img/header.png" alt="header photo">
        <br>
      <div id="skill_list" >
        <div class="skill_group"><strong><font size="6">Frontend</font></strong>
          <img src="http://i.imgur.com/O7RzVRC.png" alt="html logo">
          <img src="http://i.imgur.com/Fee5Iae.png" alt="css logo">
          <img src="http://i.imgur.com/dvfv89e.png" alt="javascript logo">
          <img src="http://i.imgur.com/hSGEhzI.png" alt="jQuery logo">
          <img src="http://i.imgur.com/r6z47dL.png" alt="bootstrap logo">
          <img src="http://i.imgur.com/tM6B5lR.png" alt="angular logo">
          <img src="http://i.imgur.com/lo8EqKO.png" alt="react logo">
        </div>
        <div class="skill_group"><strong><font size="6">Backend/ Fullstack</font></strong>
          <img src="http://i.imgur.com/DgONDdI.jpg" alt="ruby logo">
          <img src="http://i.imgur.com/18tYgiT.png" alt="rails logo">
          <img src="http://i.imgur.com/IUvQkGF.jpg" alt="meanstack logo">
        </div>

        <div class="skill_group"><strong><font size="6">Database</font></strong>
          <img src="http://i.imgur.com/BhoXQYh.png" alt="postgresql logo">
          <img src="http://i.imgur.com/P1MTPhi.png" alt="mongodb logo">
          <img src="http://i.imgur.com/6NGIFU5.jpg" alt="Ms-sql server logo">
        </div>
        <div class="skill_group"><strong><font size="6">Other</font></strong>
          <img src="http://i.imgur.com/113H0l2.jpg" alt="git logo">
          <img src="http://i.imgur.com/BLnIJHF.jpg" alt="github logo">
          <img src="http://i.imgur.com/ZZUZwIO.png" alt="agile-scrum photo">
          <img src="http://i.imgur.com/qOhAfhh.jpg" alt="selenuim photo">

        </div>
        <div class="skill_group"><strong><font size="6">Platforms</font></strong>
          <img src="http://i.imgur.com/SilenNi.png" alt="window photo">
          <img src="http://i.imgur.com/7Wd5G9Y.jpg" alt="linux photo">
          <img src="http://i.imgur.com/OrgODPz.png" alt="mac photo">
        </div>
      </div>
      <br><br>
    </div>

    <div ng-show="vm.display=='1'">
      <h2>WEB DEVLOPMENT EXPERIENCE</h2>

      <div >
        <h4>Peglu LLC, Washington, DC</h4>
        <h4>Full Stack Developer</h5>
        <h5>Sepetember 2017 – Present</h5>
        <p>Reviewed major system components and architecture of the existing application.</p>
        <p>Participated in meeting with the client to understand the requirement and also for approval to make sure the product meet with the requirement.</p>
        <p>Researched and designed new support technologies to improve the application.</p>
        <p>Developed various customer based features using Ruby on Rails including payment, server configuration and security of the application. </p>
        <p>Executed the enhancements of an existing application, supported product migration and deployment of the app.</p>
        <p>Tested the application during the development stage and troubleshoot during production. </p>

      </div>

      <div >
        <h4>General Assembly, Washington, DC</h4>
        <h4>Web Development Immersive Student</h5>
        <h5>May 2017 – August 2017</h5>
        <p>Twelve-week full-time full-stack Web Development Immersive program providing experience with the latest front-end and back-end programming languages tools, and frameworks including HTML, CSS, JavaScript, Ruby, jQuery, PostgreSQL, MongoDB,  Ruby on Rails, Angular.js, Express.js, Mongoose, React.js, Git, and Github.</p>
        <p>Developed a personal portfolio and also four individual and collaboratively focused in-class projects.</p>
        <ol>
          <p>1. Hangman game in which players can spend their time testing their knowledge about world heritage. Depending on the number of errors, different animations will be displayed. Technologies used in this project are HTML, CSS, JavaScript, and jQuery.  </p>
          <p>2. A web application that helps you to remember where you parked. It saves the car location and takes you to your car from any other position with just one click. You can see your recent history, and manage your favorite parking spots. The technologies used in this project includes JavaScript, Bootstrap, ActiveRecord, Ruby on Rails PostgreSQL and Heroku. </p>
          <p>3. A web application that prevents you from driving under the influence by checking your blood alcohol content after you drink, or suggest how much you have to drink in order to be safe. It also recommends you breweries and beer based on your current location, alcohol by volume (abv) and international bitterness unit (IBU). In this project, we used Ruby on Rails for the back-end Angular.js for the front-end, and PostgreSQL for the database. </p>
        </ol>
      </div>

      <div >
        <h4>Jimma University, Jimma, Ethiopia</h4>
        <h5>Mar 2015 - Feb 2016 </h5>
        <p> Designed different functionality and interface for a website to facilitate learning-teaching system.</p>
        <p>Created website using different tools (HTML, CSS, and draw.io ) in order to fulfill the requirement listed in the design phase.</p>
        <p>Tested the website functionality before production and during the production phase manually and also using Selenium  WebDriver.</p>
      </div>

    </div>

    <div ng-show="vm.display=='2'">
      <h2>OTHER PROFESSIONAL EXPERIENCE</h2>
      <h4>Jimma University, Jimma, Ethiopia</h4>
      <h4>Instructor and Researcher</h4>
      <h5>2015-2016 and 2011- 2012</h5>
      <p>Delivered three courses for engineering students ranging from first-year to third-year students.</p>
      <p>Led a team of six in modularizing and reviewing curriculum to improve the current education system.</p>
      <p>Coordinated and managed ten plus courses, programs, and events.</p>
      <p>Wrote three plus project and research proposal by collaboration with other Universities and stakeholders.</p>
      <p>Advised 30+ students in their project and solved barriers to their education.</p>
      <p>Supervised 20+ students in CBTP program to propose appropriate solutions for the community problems.</p>
      <p>Evaluator and moderator for more than 100 plus mini and final year projects.</p>
      <p>Experienced in managing 300+ student records in the database such as attendance, evaluations and grading.</p>

      <h2>PROJECT COORDINATOR</h2>
      <h4>Jimma City Volunteer Activity Club, Jimma, Ethiopia</h4>
      <h5>September 2015 – January 2016</h5>
      <p>Initiated and organized continuous awareness creation campaign about waste management and environmental protection by organizing more than 150 students, staff and government officials.</p>
      <p>Conducted and analyzed survey to identify community’s problems, and interact with stakeholders.</p>
      <p>Performed GAP Analysis to show the current problems and proposed solutions.</p>
      <p>Suggested measures to improve and optimize the current system.</p>
    </div>
    </div>

    <div ng-show="vm.display=='3'">
      <h2>EDUCATION</h2>
      <center>General Assembly, Washington, DC, Full Stack Web Development, July 2017</center>\
      <center>University of Trento, Italy M.Sc. in Engineering, March 2015</Ccenter>
      <br><br>
      <h2>CERTIFICATION</h2>
      <center>Microsoft Certified in Querying with Transact- SQL, August 2016</center>

</div>
